body {
  background-color: 
#23292e ;
  font-family: Arial, sans-serif;
  margin: 0;
 color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

